*{
    box-sizing: border-box;
    /* padding: 0;
    margin: 0; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#grid-viagens{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.figure-viagens{
    border: 2px solid black;
    border-radius: 5px;
}

.img-viagens{
    width:100%;

}

.figcaption-viagens{
    padding: 10px;
}

.btn-comprar{
    display: grid;
    margin: 10px auto;
    padding: 6px 12px;
    background-color: #40d86e;
    border-radius: 3px;
    font-weight: bold;
}
