*{
    box-sizing: border-box;
    /* padding: 0;
    margin: 0; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#grid-viagens{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.figure-viagens{
    border: 2px solid black;
    border-radius: 5px;
}

.img-viagens{
    width:100%;

}

.figcaption-viagens{
    padding: 10px;
}

.btn-comprar{
    display: grid;
    margin: 10px auto;
    padding: 6px 12px;
    background-color: #40d86e;
    border-radius: 3px;
    font-weight: bold;
}

/* css gerenciar viagens */

#container-vi{
    border: 2px solid black;
    height: auto;
    padding: 20px;
}

#container-vi h3{
    text-align: center;
}

#tabela{
    display: grid;
    justify-items: center;
}

/* css alterar viagens */


/* css login */


*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    padding: 0;
}

#container-a{
    width: 100%;
    height: 100vh;
    padding: 30px;
    display: grid;
    /* justify-content: center;
    align-items: center; */
    background-image: linear-gradient(to bottom right,#37a6a8, #2a2a73,#6795a3);
}

#t-login{
    color: white;
    text-align: center;
    position: relative;
    width: 100%;
    height: 50%;
    top: 100px;
    font-weight: bold;
    letter-spacing: 3px;
}

#login-grid{
    height:auto;
    display: grid;
    padding: 20px;
    gap: 20px;
    /* justify-content: center; */
    grid-template-columns: repeat(1,3fr);
    border: 2px solid black;
    border-radius: 10px;
    justify-items: center; 
    background-color: rgb(228, 228, 228);
}

#login-grid div label{
    font-size: large;
    font-weight: bold;
}

#login-grid div{
    justify-items: center;
}

.inpt{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(50, 36, 87);
}

#btn-entrar{
    display: block;
    margin: 0 auto;
    background-color: #69acff;
    height: 40px;
    width: 200px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: bold;
}